@model StockScraper.Models.ScrapeDateViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Scrapes" asp-action="Index" method="get">
    <!--<p>
        <select asp-for="Date" asp-items="Model.Dates">
            <option value="">All</option>
        </select>
        <input type="submit" value="Search" />
    </p> -->
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scrapes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scrapes[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scrapes[0].Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scrapes[0].Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scrapes[0].DayRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scrapes[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Scrapes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayRange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>
